.hero{
  width: 100%;
  height: 100vh;
  
 
}
.heroAbout{
  width: 100%;
  height: 90vh;
  
  
}
.heroService{
  width: 100%;
  height: 90vh;
  
 

}
.serviceText{
  font-size: 96px;
  font-weight: 800;
  background:rgba(0, 0, 0, 0.437);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.serviceHouseText{
 
  top:40% ;
  left: 85%;
  

}
.heroContact{
  width: 100%;
  height: 90vh;
  


}
.contactText{
  font-size: 96px;
  font-weight: 800;
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactHouseText{
  position: absolute;
  top:20% ;
  left: 20%;
  transform: translate(-50%,-50%);

}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.houseText{
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%,-50%);
  width: 100%;

}
.aboutText{
  font-size: 96px;
  font-weight: 800;
  background:white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.aboutHouseText{
  position: absolute;
  top:80% ;
  left: 10%;
  transform: translate(-50%,-50%);

}
.homeText{
  font-size: 100px;
  font-weight: 800;
  background:darkslategray;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: static;
 
  
}
.pHomeText{
  font-size: 1.5rem;
  font-weight: bold;

  color:maroon;
  padding: 0.5rem 0 2rem 0;
  
}
.show{
  text-decoration: none;
  background:rgba(0, 100, 0, 0.359);
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
 
}
.show:hover{
  background: rgba(205, 134, 63, 0.817);
  color:black;
  transition: 0.2s ease-in-out;
}